.formClas {
    display: flex;
    flex-direction: column;
}

.formClas input {
    width: 150px;
}

.formClas button {
    width: 157px;
    margin-top: 20px;
    background-color: rgb(255, 214, 220);
}